<div class="ui tab" data-tab="product_samples">
    <h3 class="ui top attached header">{{ 'babdev_sylius_product_samples.ui.product_samples'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.samplesActive) }}

        {% if product.simple %}
            <div class="ui hidden divider"></div>
            <div class="ui one column stackable grid">
                <div class="column">
                    <h4 class="ui dividing header">{{ 'sylius.ui.pricing'|trans }}</h4>
                    <div id="sylius_product_variant_sample_channelPricings">
                        {{ form_errors(form.variant.sample.channelPricings) }}
                        <div class="ui top attached tabular menu">
                            {% for channelCode, channelPricing in form.variant.sample.channelPricings %}
                                <a class="item{{ loop.index0 == 0 ? ' active' : ''}}" data-tab="{{ channelCode }}">{{ channelPricing.vars.label }}</a>
                            {% endfor %}
                        </div>
                        {% for channelCode, channelPricing in form.variant.sample.channelPricings %}
                            <div class="ui bottom attached{{ loop.index0 == 0 ? ' active' : ''}} tab segment" data-tab="{{ channelCode }}">
                                {% if channelCode not in product.channels|map(channel => channel.code) %}
                                    <div class="ui info message">
                                        {{ 'sylius.ui.product.product_not_active_in_channel'|trans }}
                                    </div>
                                {% endif %}
                                {{ form_row(channelPricing, {'label': false}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ui two column stackable grid">
                <div class="column">
                    <h4 class="ui top attached header">{{ 'sylius.ui.shipping'|trans }}</h4>
                    <div class="ui attached segment">
                        {{ form_row(form.variant.sample.shippingCategory) }}
                        {{ form_row(form.variant.sample.width) }}
                        {{ form_row(form.variant.sample.height) }}
                        {{ form_row(form.variant.sample.depth) }}
                        {{ form_row(form.variant.sample.weight) }}
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui top attached header">{{ 'sylius.ui.taxes'|trans }}</h4>
                    <div class="ui attached segment">
                        {{ form_row(form.variant.sample.taxCategory) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_product_samples', 'sylius.admin.product.tab_product_samples'], {'form': form}) }}
</div>
