<div class="ui tab" data-tab="product_samples">
    <h3 class="ui dividing header">{{ 'babdev_sylius_product_samples.ui.product_samples'|trans }}</h3>
    <div class="ui one column stackable grid">
        <div class="column">
            <h4 class="ui dividing header">{{ 'sylius.ui.pricing'|trans }}</h4>
            <div class="ui info message">
                {{ 'sylius.ui.price_details'|trans }}
                <br/>
                {{ 'sylius.ui.original_price_details'|trans }}
                <br/>
                {{ 'sylius.ui.minimum_price_details'|trans }}
            </div>
            <div id="sylius_product_variant_sample_channelPricings">
                {{ form_errors(form.sample.channelPricings) }}
                {% for channelCode, channelPricing in form.sample.channelPricings %}
                    <div class="ui segment">
                        <h5 class="ui dividing header">{{ channelPricing.vars.label }}</h5>
                        {% if channelCode not in product_variant.product.channels|map(channel => channel.code) %}
                            <div class="ui info message">
                                {{ 'sylius.ui.product.product_not_active_in_channel'|trans }}
                            </div>
                        {% endif %}
                        {{ form_row(channelPricing.price) }}
                        {{ form_row(channelPricing.originalPrice) }}
                        {{ form_row(channelPricing.minimumPrice) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                <h4 class="ui dividing header">{{ 'sylius.ui.shipping'|trans }}</h4>

                {{ form_row(form.sample.shippingCategory) }}
                {{ form_row(form.sample.width) }}
                {{ form_row(form.sample.height) }}
                {{ form_row(form.sample.depth) }}
                {{ form_row(form.sample.weight) }}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h4 class="ui dividing header">{{ 'sylius.ui.taxes'|trans }}</h4>

                {{ form_row(form.sample.taxCategory) }}
            </div>
        </div>
    </div>

    {{ sylius_template_event(['sylius.admin.product_variant.' ~ action ~ '.tab_product_samples', 'sylius.admin.product_variant.tab_product_samples'], {'form': form}) }}
</div>
